.main-footer-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 100px 0 0;
    box-sizing: border-box;
}

.footer-card {
    padding: 20px;
}

.footer-text-1{
    font-size: 18px;
    font-weight: 500;
    color: #263238;
}

.footer-text-2 {
    font-size: 18px;
    color: #263238;
    font-weight: 300;
}

.footer-text-3 {
    font-weight: 500;
    font-size: 24px;
    color: #263238;
}

.footer-image {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.footer {
    width: 100%;
    height: 64px;
    background: #EE4248;
}

.footer-text-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    padding-top: 20px;
    font-size: 18px;
    line-height: 21px;
    color: white;
}

@media screen and (max-width: 991px) {
    .main-footer-card {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
}